.del
{


                width: 25px;
                height: 25px;
              
}

.return
{


                width: 100px;
                height: 100px;
              
}

.confirm
{


                width: 100px;
                height: 100px;
              
}
