 {% extends "checksource/base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
 {% block header %}
<h2>问题内容:</h2>
{% endblock header %}
 
{% block content %}
<table class="table table-bordered" id="tb" style='width:2200px;table-layout:fixed;'>
<th style='width:6%;'>检查日期</th>
        <th style='width:4%;'>检查部门</th>
        <th style='width:4%;'>检查方式</th>
        <th style='width:4%;'>检查者</th>
        <th style='width:9%;'>问题描述</th>
        <th style='width:3%;'>分类</th>
        <th style='width:9%;'>整改措施</th>
        <th style='width:6%;'>部分管责任人</th>
        <th style='width:5%;'>主控部门</th>
        <th style='width:5%;'>责任部门</th>
        <th style='width:4%;'>部门负责人</th>
        <th style='width:4%;'>责任班组</th>
        <th style='width:4%;'>具体责任人</th>
        <th style='width:9%;'>本部门原因分析</th>
        <th style='width:6%;'>预计关闭日期</th>
        <th style='width:4%;'>是否落实</th>
        <th style='width:4%;'>项目分类</th>
        <th style='width:4%;'>关闭批准人</th>
        <th style='width:3%;'>备注</th>      
    </tr>
    </thead>
    <tbody> 
    <tr>
        <td>{{pblm.checkwhen|default_if_none:""}}</td>
        <td>{{pblm.checkdepartment|default_if_none:""}}</td>
        <td>{{pblm.checkway|default_if_none:""}}</td>
        <td>{{pblm.checkwho|default_if_none:""}}</td>
        <td>{{pblm.problemdetail|default_if_none:""}}</td>
        <td>{{pblm.problemtype|default_if_none:""}}</td>
        <td>{{pblm.problemsolve|default_if_none:""}}</td>
        <td>{{pblm.whoresponsible|default_if_none:""}}</td>
        <td>{{pblm.departmentincharge|default_if_none:""}}</td>
        <td>{{pblm.problemdepartment|default_if_none:""}}</td>
        <td>{{pblm.departmentwho|default_if_none:""}}</td>
        <td>{{pblm.problemteam|default_if_none:""}}</td>
        <td>{{pblm.problemwho|default_if_none:""}}</td>
        <td>{{pblm.problemreason|default_if_none:""}}</td>
        <td>{{pblm.closedate|default_if_none:""}}</td>
        {% if pblm.ifdone %}
        <td bgcolor=green>
		{% else %}	
        <td bgcolor=red>
		{% endif%}	
			{% if pblm.ifdone%}是
			{%else%}否
			{%endif%}
		</td>
        <td>{{pblm.projecttype|default_if_none:""}}</td>
        <td>{{pblm.closewho|default_if_none:""}}</td>
        <td>{{pblm.somethingelse|default_if_none:""}}</td>
        <tr>
        <td colspan="19">
{% for i in imgproblem %}
{%if i.Checkproblem.id == pblm.id%}

<img src = '{{i.img.url}}' height="180px">
<a href="{% url 'checksource:deleteimg' i.id %}" onclick="return confirm('确定删除图片？')"><img class="del" src="/media/media/material/del.jpg" /></a>
{%endif%}	
{% endfor %}
</td></tr>

<tr>
<td colspan="19" height='50px'>

<a href="{% url 'checksource:editproblem' pblm.id %}"><button class="btn btn-primary">修改内容</button></a>
<a href="{% url 'checksource:upload' pblm.id %}"><button class="btn btn-primary">续传图片</button></a>
<a href="{% url 'checksource:problemdoneconfirmnew' p_id=pblm.id %}" onclick="return confirm('是否确定关闭此问题?\n\n请确认！')"><button class="btn btn-primary">整改确认</button></a>
<a href="{% url 'checksource:deleteproblem' p_id=pblm.id %}" onclick="return confirm('是否删除此问题?\n\n请确认！')"><button class="btn btn-danger">删除问题</button></a>

</td>	

</tr>

</tbody>

</table>
{% endblock content %} 
